<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    style
        include style.css
</head>
<body>
    <h1>Create Your Player</h1>
    <form action="/"  method="post"  id="form">
        <span class="player1">Players Name &nbsp; &nbsp;(MAX: 30 words)</span>
        <input type="text" name="name" id="name" placeholder="Enter players name" class="form2">
        <span class="player1">Players age</span>
        <input type="number" name="age" id="age" placeholder="Enter players age" class="form2">
        <span class="player1">Players Discription &nbsp; &nbsp;(MAX: 400 words)</span>
        <textarea name="about" id="about" cols="30" rows="10" placeholder="Enter player discription"  class="form2"></textarea>
        <button class="sub">Submit</button>

    </form>
</body>
</html>