<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your player</title>
    style
        include player.css
</head>
<body>
    <h1>Your  Player Card</h1>
    <div class="container">
    <div class="memb" id="meb1">
        <h3>Player Name:</h3><span>
        | #{PlayerName}
        </span>

        </div>
    <div class="memb" id="meb2">
        <h3>Player age:</h3><span>
        | #{PlayerAge}
        </span>
    </div>
    <div class="memb" id="meb3">
        <h3>Player Discription:</h3><span>
        | #{PlayerAbout}
        </span>

    </div>
</div>
    
</body>
</html>