#form{
    display: flex;
    border: rgb(204, 0, 255) solid;
    flex-direction: column;
    height: 400px;
    background-color: rgb(200, 132, 255);
    border-radius: 9px;
    box-shadow: 5px 5px 5px rgb(65, 65, 65);
}
#name{
    margin-top: 1px;
    margin-bottom: 40px;
    width: 300px;
}
#age{
    margin-top: 1px;
    margin-bottom: 40px;
    width: 300px;
}
.sub{
    
    margin: auto;
    margin-left: 10px;
    border:rgb(139, 3, 167) solid ;
    background-color: rgb(225, 196, 248);
    font-weight: bolder;
    border-radius: 6px;
}
.sub:hover{
    background-color: rgb(204, 0, 255);
    cursor: pointer;
}
#about{
    width: 796px;
}
h1{
    text-align: center;
    color: royalblue;
}
.form2{
    margin-left: 10px;
}
.player1{
    margin-left: 10px;
    color: rgb(102, 2, 133);
}
body{
    background-color: rgb(241, 215, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}